/*Shared Site Css*/
body{
    /*background of whole site*/
    background-color: #f6f6f6;
}

/*top nav bar Start*/
.nav-link{
    color: white;
}
.nav-link:hover{
    color: gray;
}
/*top nav bar End*/

/*Imagebanner with text overlay start*/
.imageBanner{
    position:absolute;
    top:0px;
    z-index: -1;
    min-height: 450px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.5);
    object-fit:cover;
}

.blurBackground{
    filter:blur(3px);
    -o-filter:blur(3px);
    -ms-filter:blur(3px);
    -moz-filter:blur(3px);
    -webkit-filter:blur(3px);
}

.TextOverlay{
    padding-bottom: 25px;;
    padding-top:100px;
    color:white;
    text-align: center;
    }
/*Imagebanner with text overlay end*/

.footer{
    background-color: #6b2c91;
    margin-top: 20px;
    color: whitesmoke;
}

/*Acomodation CSS - Alan*/
/*Secondary Navbar start*/
.SectionSelection{
    padding-top: 10px;
    padding-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    align-content: center;
    background-color: black;
    opacity: 90%;
}

.topSection{
    scroll-margin-top: 100px;
    padding: 25px;
    background-color: #f6f6f6;
    opacity: 90%;
    margin-bottom: 25px;
    margin-top: 50px;
}

.topSection h1{
    text-align: center;
}
/*Secondary Navbar end*/
/*Sections of infomation start*/
.sections{
    scroll-margin-top: 100px;
    padding: 25px;
    margin-bottom: 25px;
    margin-top: 50px;
}

.sections h1{
    text-align: center;
}

.sections img{
    min-width: 400px;
}

.sections div{
    padding: 25px
}
/*Sections of infomation end*/