.TextOverlay{
    color: whitesmoke;
    padding-left: 25px;
    }

.SectionSelection{
    padding: 30px;
}

.SectionSelection button{
    margin: 2ex;
    background-color: rgb(89, 80, 214);
    border-radius: 50px;
    color: whitesmoke;
}