.TextOverlay{
    color: whitesmoke;
    padding-left: 25px;
    padding-bottom: 25px;;
    }

.SectionSelection{
    padding-top: 10px;
    padding-bottom: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    align-content: center;
    background-color: black;
    opacity: 90%;
}